<div ng-include="'views/mms/mmsNav.html'"></div>

<div class="container">
    <div class="filter-tab">
        <div class="mb-10 clearfix">
            <div class="filter-attr clearfix">
                <div class="filter-choose">
                    <span class="filter-txt">2015-01-01</span>
                    <a href="javascript:;" class="btn-down"><i class="i-down"></i></a>
                </div>
                <span class="filter-block">至</span>
                <div class="filter-choose">
                    <span class="filter-txt">2016-01-01</span>
                    <a href="javascript:;" class="btn-down"><i class="i-down"></i></a>
                </div>
                <input type="text" placeholder="手机号码" class="filter-input"/><input type="text" placeholder="短信内容" class="filter-input filter-input-long"/>
            </div>
            <span class="filter-btn">
                <a href="" class="btn-dblue">查询</a><a href="" class="btn-lblue">导出</a>
            </span>
        </div>

    </div>
    <div class="">
        <!-- table 最后一行tr、最后一列td加 no-border -->
        <table class="filter-main table-hover">
            <tr>
                <th>序号</th>
                <th>模板ID</th>
                <th>短信内容</th>
                <th>发送数量</th>
                <th>操作</th>
            </tr>
            <tr>
                <td>1</td>
                <td>95502</td>
                <td><div class="td-over">李先生，你好，欢迎您参与我司**项目评估调查，您的…ddadasd</div></td>
                <td>120000</td>
                <td><div class="td-nowrap"><a href="" class="set-fun"><i class="i-detail"></i>详情</a><a href="" class="set-fun ml-5"><i class="i-again"></i>再次发送</a></div></td>
            </tr>
            <tr>
                <td>1</td>
                <td>95502</td>
                <td><div class="td-over">李先生，你好，欢迎您参与我司**项目评估调查，您的…</div></td>
                <td>120000</td>
                <td><div class="td-nowrap"><a href="" class="set-fun"><i class="i-detail"></i>详情</a><a href="" class="set-fun ml-5"><i class="i-again"></i>再次发送</a></div></td>
            </tr>
            <tr>
                <td>1</td>
                <td>95502</td>
                <td><div class="td-over">李先生，你好，欢迎您参与我司**项目评估调查，您的…daxcgvxcvxcvxcvxc</div></td>
                <td>120000</td>
                <td><div class="td-nowrap"><a href="" class="set-fun"><i class="i-detail"></i>详情</a><a href="" class="set-fun ml-5"><i class="i-again"></i>再次发送</a></div></td>
            </tr>
            <tr>
                <td>1</td>
                <td>95502</td>
                <td><div class="td-over">李先生，你好，欢迎您参与我司**项目评估调查，您的…</div></td>
                <td>120000</td>
                <td><div class="td-nowrap"><a href="" class="set-fun"><i class="i-detail"></i>详情</a><a href="" class="set-fun ml-5"><i class="i-again"></i>再次发送</a></div></td>
            </tr>
            <tr>
                <td>1</td>
                <td>95502</td>
                <td><div class="td-over">李先生，你好，欢迎您参与我司**项目评估调查，您的vsdesfgqae21qwedsafasd…</div></td>
                <td>120000</td>
                <td><div class="td-nowrap"><a href="" class="set-fun"><i class="i-detail"></i>详情</a><a href="" class="set-fun ml-5"><i class="i-again"></i>再次发送</a></div></td>
            </tr>
        </table>
        <div angular-pagination="" conf="paginationConf"></div>
    </div>
</div>

