<div ng-include="'views/mms/mmsNav.html'"></div>

<div class="container">
    <div class="filter-tab">
        <div class="mb-10 clearfix">
            <div class="filter-attr clearfix">
                <div class="filter-choose">
                    <span class="filter-txt" id="dateStart">2016-01-01</span>
                    <a href="javascript:;" class="btn-down" onClick="laydate({elem: '#dateStart'});"><i class="i-down"></i></a>
                </div>
                <span class="filter-block">至</span>
                <div class="filter-choose">
                    <span class="filter-txt" id="dateEnd">2016-05-01</span>
                    <a href="javascript:;" class="btn-down" onClick="laydate({elem: '#dateEnd'});"><i class="i-down"></i></a>
                </div>
                <input type="text" placeholder="手机号码" class="filter-input"/><input type="text" placeholder="短信内容" class="filter-input filter-input-long"/>
            </div>
            <span class="filter-btn">
                <a href="" class="btn-dblue">查询</a><a href="" class="btn-lblue">导出</a>
            </span>
        </div>

    </div>
    <div class="">
        <!-- table 最后一行tr、最后一列td加 no-border -->
        <table class="filter-main table-hover">
            <tr>
                <th>序号</th>
                <th>上行短号</th>
                <th>短信内容</th>
                <th>回复手机</th>
                <th>回复时间</th>
                <th>回复内容</th>
            </tr>
            <tr>
                <td>1</td>
                <td>95502</td>
                <td><div class="td-over">李先生，你好，欢迎您参与我司**项目评估欢迎欢迎您参与我司**项目评估欢迎您参与我司**项目评估您参与我司**项目评估</div></td>
                <td>18754614512</td>
                <td><div class="td-nowrap">2016-01-21 12:25</div></td>
                <td>1</td>
            </tr>
            <tr>
                <td>1</td>
                <td>95502</td>
                <td><div class="td-over">李先生，你好，欢迎您参与我司**项目评估欢迎欢迎您参与我司**项目评估欢迎您参与我司**项目评估您参与我司**项目评估</div></td>
                <td>18754614512</td>
                <td><div class="td-nowrap">2016-01-21 12:25</div></td>
                <td>1</td>
            </tr>
            <tr>
                <td>1</td>
                <td>95502</td>
                <td><div class="td-over">李先生，你好，欢迎您参与我司**项目评估欢迎欢迎您参与我司**项目评估欢迎您参与我司**项目评估您参与我司**项目评估</div></td>
                <td>18754614512</td>
                <td><div class="td-nowrap">2016-01-21 12:25</div></td>
                <td>1</td>
            </tr>
            <tr>
                <td>1</td>
                <td>95502</td>
                <td><div class="td-over">李先生，你好，欢迎您参与我司**项目评估欢迎欢迎您参与我司**项目评估欢迎您参与我司**项目评估您参与我司**项目评估</div></td>
                <td>18754614512</td>
                <td><div class="td-nowrap">2016-01-21 12:25</div></td>
                <td>1</td>
            </tr>
            <tr>
                <td>1</td>
                <td>95502</td>
                <td><div class="td-over">李先生，你好，欢迎您参与我司**项目评估欢迎欢迎您参与我司**项目评估欢迎您参与我司**项目评估您参与我司**项目评估</div></td>
                <td>18754614512</td>
                <td><div class="td-nowrap">2016-01-21 12:25</div></td>
                <td>1</td>
            </tr>
            <tr>
                <td>1</td>
                <td>95502</td>
                <td><div class="td-over">李先生，你好，欢迎您参与我司**项目评估欢迎欢迎您参与我司**项目评估欢迎您参与我司**项目评估您参与我司**项目评估</div></td>
                <td>18754614512</td>
                <td><div class="td-nowrap">2016-01-21 12:25</div></td>
                <td>1</td>
            </tr>
            <tr>
                <td>1</td>
                <td>95502</td>
                <td><div class="td-over">李先生，你好，欢迎您参与我司**项目评估欢迎欢迎您参与我司**项目评估欢迎您参与我司**项目评估您参与我司**项目评估</div></td>
                <td>18754614512</td>
                <td><div class="td-nowrap">2016-01-21 12:25</div></td>
                <td>1</td>
            </tr>
            <tr>
                <td>1</td>
                <td>95502</td>
                <td><div class="td-over">李先生，你好，欢迎您参与我司**项目评估欢迎欢迎您参与我司**项目评估欢迎您参与我司**项目评估您参与我司**项目评估</div></td>
                <td>18754614512</td>
                <td><div class="td-nowrap">2016-01-21 12:25</div></td>
                <td>1</td>
            </tr>
            <tr>
                <td>1</td>
                <td>95502</td>
                <td><div class="td-over">李先生，你好，欢迎您参与我司**项目评估欢迎欢迎您参与我司**项目评估欢迎您参与我司**项目评估您参与我司**项目评估</div></td>
                <td>18754614512</td>
                <td><div class="td-nowrap">2016-01-21 12:25</div></td>
                <td>1</td>
            </tr>
            <tr>
                <td>1</td>
                <td>95502</td>
                <td><div class="td-over">李先生，你好，欢迎您参与我司**项目评估欢迎欢迎您参与我司**项目评估欢迎您参与我司**项目评估您参与我司**项目评估</div></td>
                <td>18754614512</td>
                <td><div class="td-nowrap">2016-01-21 12:25</div></td>
                <td>1</td>
            </tr>
            <tr>
                <td>1</td>
                <td>95502</td>
                <td><div class="td-over">李先生，你好，欢迎您参与我司**项目评估欢迎欢迎您参与我司**项目评估欢迎您参与我司**项目评估您参与我司**项目评估</div></td>
                <td>18754614512</td>
                <td><div class="td-nowrap">2016-01-21 12:25</div></td>
                <td>1</td>
            </tr>
            <tr>
                <td>1</td>
                <td>95502</td>
                <td><div class="td-over">李先生，你好，欢迎您参与我司**项目评估欢迎欢迎您参与我司**项目评估欢迎您参与我司**项目评估您参与我司**项目评估</div></td>
                <td>18754614512</td>
                <td><div class="td-nowrap">2016-01-21 12:25</div></td>
                <td>1</td>
            </tr>
            <tr>
                <td>1</td>
                <td>95502</td>
                <td><div class="td-over">李先生，你好，欢迎您参与我司**项目评估欢迎欢迎您参与我司**项目评估欢迎您参与我司**项目评估您参与我司**项目评估</div></td>
                <td>18754614512</td>
                <td><div class="td-nowrap">2016-01-21 12:25</div></td>
                <td>1</td>
            </tr>
            <tr>
                <td>1</td>
                <td>95502</td>
                <td><div class="td-over">李先生，你好，欢迎您参与我司**项目评估欢迎欢迎您参与我司**项目评估欢迎您参与我司**项目评估您参与我司**项目评估</div></td>
                <td>18754614512</td>
                <td><div class="td-nowrap">2016-01-21 12:25</div></td>
                <td>1</td>
            </tr>
            <tr>
                <td>1</td>
                <td>95502</td>
                <td><div class="td-over">李先生，你好，欢迎您参与我司**项目评估欢迎欢迎您参与我司**项目评估欢迎您参与我司**项目评估您参与我司**项目评估</div></td>
                <td>18754614512</td>
                <td><div class="td-nowrap">2016-01-21 12:25</div></td>
                <td>1</td>
            </tr>
            <tr>
                <td>1</td>
                <td>95502</td>
                <td><div class="td-over">李先生，你好，欢迎您参与我司**项目评估欢迎欢迎您参与我司**项目评估欢迎您参与我司**项目评估您参与我司**项目评估</div></td>
                <td>18754614512</td>
                <td><div class="td-nowrap">2016-01-21 12:25</div></td>
                <td>1</td>
            </tr>
            <tr>
                <td>1</td>
                <td>95502</td>
                <td><div class="td-over">李先生，你好，欢迎您参与我司**项目评估欢迎欢迎您参与我司**项目评估欢迎您参与我司**项目评估您参与我司**项目评估</div></td>
                <td>18754614512</td>
                <td><div class="td-nowrap">2016-01-21 12:25</div></td>
                <td>1</td>
            </tr>
            <tr>
                <td>1</td>
                <td>95502</td>
                <td><div class="td-over">李先生，你好，欢迎您参与我司**项目评估欢迎欢迎您参与我司**项目评估欢迎您参与我司**项目评估您参与我司**项目评估</div></td>
                <td>18754614512</td>
                <td><div class="td-nowrap">2016-01-21 12:25</div></td>
                <td>1</td>
            </tr>
            <tr>
                <td>1</td>
                <td>95502</td>
                <td><div class="td-over">李先生，你好，欢迎您参与我司**项目评估欢迎欢迎您参与我司**项目评估欢迎您参与我司**项目评估您参与我司**项目评估</div></td>
                <td>18754614512</td>
                <td><div class="td-nowrap">2016-01-21 12:25</div></td>
                <td>1</td>
            </tr>
            <tr>
                <td>1</td>
                <td>95502</td>
                <td><div class="td-over">李先生，你好，欢迎您参与我司**项目评估欢迎欢迎您参与我司**项目评估欢迎您参与我司**项目评估您参与我司**项目评估</div></td>
                <td>18754614512</td>
                <td><div class="td-nowrap">2016-01-21 12:25</div></td>
                <td>1</td>
            </tr>
            <tr>
                <td>1</td>
                <td>95502</td>
                <td><div class="td-over">李先生，你好，欢迎您参与我司**项目评估欢迎欢迎您参与我司**项目评估欢迎您参与我司**项目评估您参与我司**项目评估</div></td>
                <td>18754614512</td>
                <td><div class="td-nowrap">2016-01-21 12:25</div></td>
                <td>1</td>
            </tr>
        </table>
        <div angular-pagination="" conf="paginationConf"></div>
    </div>
</div>