<div ng-include="'views/mms/mmsNav.html'"></div>


<div class="container clearfix">
    <div class="fill-msg">
        <div class="msg-about">单条短信<span>70</span>字；已输入<span class="red">0</span>字；</div>
        <div class="fill-area">
            <textarea name="" id="" cols="30" rows="10">此处是文字此处是文字此处是文字此处是文字此处是文字此处是文字此处是文字此处是文字此处是文字此处是文字此处是文字此处是文字此处是文字此处是文字</textarea>
            <div class="fill-temp">
                <ul>
                    <li><a href="">001：短信模客户以板</a></li>
                    <li><a href="">002：大客大客户大客户大客户以短…</a></li>
                    <li><a href="">003：大客户客户以客户以客客以短…</a></li>
                    <li><a href="">004：大户以往客户以客户以客以短…</a></li>
                    <li><a href="">005：大客以客户以客户以以以往短…</a></li>
                    <li><a href="">001：短信模客户以板</a></li>
                    <li><a href="">002：大客大客户大客户大客户以短…</a></li>
                    <li><a href="">003：大客户客户以客户以客客以短…</a></li>
                    <li><a href="">004：大户以往客户以客户以客以短…</a></li>
                    <li><a href="">005：大客以客户以客户以以以往短…</a></li>
                </ul>
            </div>
            <div class="fill-btn">
                <a href="" class="fill-btn-temp"><i class="i-temp"></i>使用模板</a>
                <a href=""><i class="i-media"></i>添加多媒体文件<i class="i-question"></i></a>
            </div>
            <div class="fill-show-info">
                <span>图片：大小100kb，格式jpg、gif</span>
                <span>音频：大小100kb，格式MP3、wma</span>
                <span>视频：大小100kb，格式3gp、mp4</span>
            </div>
        </div>
        <div class="submit-msg-btn">
            <a href="" class="btn-orange">发送</a><a href="" class="btn-white">存草稿</a>
        </div>
        <div class="choose-time filter-choose">
            <span class="filter-txt">2016-01-01 12:00</span>
            <a href="javascript:;" class="btn-down"><i class="i-down"></i></a>
        </div>
        <a href="" class="btn-orange btn-orange1">保存定时任务</a>
    </div>
    <div class="show-msg">
        <div class="mb-10 clearfix">
            <a href="javascript:;" class="btn-gray"><i class="i-del"></i>删除选中</a>
            <div class="search">
                <input type="text" placeholder="搜索手机号码"/>
                <a href="javascript:;"><i class="i-search"></i></a>
            </div>
        </div>
        <div class="msg-table">
            <div class="table-tit clearfix">
                <div class="col"><span><input type="checkbox"/>移动[100000]</span></div>
                <div class="col"><span><input type="checkbox"/>联通[100000]</span></div>
                <div class="col"><span><input type="checkbox"/>电信[200000]</span></div>
            </div>
            <div class="table-con">
                <div class="col">
                    <div class="col-con">
                        <p><input type="checkbox"/>18734514585</p>
                        <p><input type="checkbox"/>18734514585</p>
                        <p class="result"><input type="checkbox"/>18734514585<span>(搜索结果)</span></p>
                        <p><input type="checkbox"/>18734514585</p>
                        <p><input type="checkbox"/>18734514585</p>
                        <p><input type="checkbox"/>18734514585</p>
                        <p><input type="checkbox"/>18734514585</p>
                        <p><input type="checkbox"/>18734514585</p>
                        <p><input type="checkbox"/>18734514585</p>
                        <p><input type="checkbox"/>18734514585</p>
                        <p><input type="checkbox"/>18734514585</p>
                        <p><input type="checkbox"/>18734514585</p>
                        <p><input type="checkbox"/>18734514585</p>
                        <p><input type="checkbox"/>18734514585</p>
                        <p><input type="checkbox"/>18734514585</p>
                    </div>
                </div>
                <div class="col">
                    <div class="col-con">
                        <p><input type="checkbox"/>18734514585</p>
                        <p><input type="checkbox"/>18734514585</p>
                        <p><input type="checkbox"/>18734514585</p>
                        <p><input type="checkbox"/>18734514585</p>
                        <p><input type="checkbox"/>18734514585</p>
                        <p><input type="checkbox"/>18734514585</p>
                        <p><input type="checkbox"/>18734514585</p>
                        <p><input type="checkbox"/>18734514585</p>
                        <p><input type="checkbox"/>18734514585</p>
                        <p><input type="checkbox"/>18734514585</p>
                    </div>
                </div>
                <div class="col">
                    <div class="col-con">
                        <p><input type="checkbox"/>18734514585</p>
                        <p><input type="checkbox"/>18734514585</p>
                        <p><input type="checkbox"/>18734514585</p>
                        <p><input type="checkbox"/>18734514585</p>
                        <p><input type="checkbox"/>18734514585</p>
                        <p><input type="checkbox"/>18734514585</p>
                        <p><input type="checkbox"/>18734514585</p>
                        <p><input type="checkbox"/>18734514585</p>
                        <p><input type="checkbox"/>18734514585</p>
                        <p><input type="checkbox"/>18734514585</p>
                    </div>
                </div>
            </div>

        </div>
        <div class="msg-fun">
            <div class="msg-addr">
                <input type="text" placeholder="姓名" class="msg-addr-name"/><input type="text" placeholder="手机号码" class="msg-addr-phone"/><a href="" class="btn-dblue">添加</a><a href="" class="btn-dblue ml-5">通讯录添加</a><a href="" class="btn-dblue ml-5">导入</a>
            </div>
            <div class="msg-model">
                <a href="/smsApi/downloadSmsAddrTemplate.do?sid={{sid}}">下载联系人导入模板</a>
            </div>
        </div>
    </div>
</div>
