/*弹出层*/
.alert-bd{margin: 24px 28px;}
.alert-bd ul{}
.alert-bd ul li{margin-bottom: 12px;}
.alert-bd-label{font: 14px/20px "microsoft yahei";color: #333333;float: left;}
.label-con{float: left;margin-left: 5px;font-size: 14px;}
.label-con span{font-size: 14px;}
.input{height: 28px;border: #d6d6d6 1px solid;padding-left: 8px;color: #999999;width: 384px;vertical-align: top;}
.textarea{border: #d6d6d6 1px solid;color: #999999;width: 372px;height: 70px;padding: 10px;margin-bottom: 6px;}
.create-user ul li input.input-para{height: 28px;border: #d6d6d6 1px solid;padding-left: 8px;color: #999999;vertical-align: top;width: 50px;}
.alert-btn{margin-left: 47px;}
.see-info{color: #666666;margin-left: 15px;}
.see-info i{margin-left: 5px;}

/*创建用户*/
.create-user ul li label{width: 88px;display: inline-block;text-align: right;height: 30px;line-height: 30px;}
.create-user ul li input.input{width: 210px;}
.create-user ul li div.filter-choose{width: 218px;}
.alert-user-btn{margin-left: 92px;}
.strength{margin-left: 5px;}
.psw-weak{color: #ff4a4a;border-bottom: 4px solid #ff4a4a;}
.psw-medium{color: #ff8808;border-bottom: 4px solid #ff8808;}
.psw-strong{color: #11bb29;border-bottom: 4px solid #11bb29;}
.label-con-txt{line-height: 30px;}

/*通讯录*/
.create-user ul li label.check-radio{width: auto;margin-right: 30px;}
.create-user ul li label.check-radio input{margin-right: 5px;vertical-align: middle;}
.alert-icon {height: 30px; line-height: 30px; display: inline-block; vertical-align: middle;font-size: 14px;}
.alert-icon i{vertical-align: middle;margin: 0 5px;}
.error{color: #ff5656;}
.addr-alert-info div span.error{color: #ff5656;font-weight: normal;}
.addr-alert-info div span.error i{vertical-align: middle;margin-right: 5px;}
.addr-alert-info{margin-left: 10px;}
.addr-alert-info p{color: #333333;}
.addr-alert-info div{margin: 18px 0 26px;}
.addr-alert-info div span{font-size: 14px;font-weight: 700;color: #333333;margin-left: 20px;}

.create-user ul li div.filter-choose .filter-txt{text-indent: 1em;width: 190px;text-align: left;}
.create-user ul li label{width: auto;}
.alert-sys-btn{margin-left: 74px;}


/*写信页*/
.select-addr{margin: 24px 28px;}
.select-addr-l{float: left;width: 238px;}
.select-addr-l .tit, .select-addr-r .tit{color:#333;margin-bottom: 5px;}
.select-addr-l .tit a,.select-addr-r .tit a{color: #4c85bd;margin-left: 5px;}
.select-addr-l .select-search{border: #c5c5c5 1px solid;width: 236px;height: 25px;margin-bottom: 5px;position: relative;}
.select-addr-l .select-search input{width: 212px;height: 24px;border: 0 none;text-indent: 1em;}
.select-addr-l .select-search a{display: inline-block;width: 24px;height: 22px;line-height: 24px;position: absolute;right: 0;top: 0;text-align: center;padding-top: 3px;}
.select-addr-active{border: #e8e8e8 1px solid;padding: 5px 0;height: 330px;overflow-y: auto;}
.select-addr-active ul li a{display: block;color: #333;height: 24px;line-height: 24px;padding-left: 8px;}
.select-addr-active ul li a:hover{background: #f2f2f2;}
.select-addr-active ul li i{margin-right: 5px;}
.select-addr-active ul li ul li a{padding-left: 20px;}
.select-addr-m{float: left;width: 54px;display: block;text-align: center;height: 398px;line-height: 398px;}
.i-into{background-image: url("../images/i-into.png");width: 18px;height: 21px;}
.i-remove{background-image: url("../images/i-remove.png");width: 9px;height: 9px;}
.i-add-peo{background-image: url("../images/i-add-peo.png");width: 18px;height: 15px;}
.select-addr-r{float: left;width: 240px;}
.select-addr-passive{border: #e8e8e8 1px solid;width: 236px;height: 372px;overflow-y: auto;}
.select-addr-passive ul{margin: 5px 15px;}
.select-addr-passive ul li{line-height: 24px;position: relative;}
.select-addr-passive ul li a{color: #333;}
.select-addr-passive ul li a i{position: absolute;right: 0;top: 10px;}
.select-btn{width: 530px;margin-top: 10px;text-align: right;}