<p>系统介绍页面内容.</p><br/><br/>
<!--<a href="javascript:;" data-toggle="tooltip" id="toolTip" title="first tooltip">hover over me</a><br/><br/>
<a href="javascript:;" ng-click="showModal();"> 弹出模态框 <a/><br/><br/>
<a href="javascript:;" ng-click="hideModal();"> 大模态框 <a/><br/><br/>

<a href="javascript:;" ng-click="showAlert();"> Alert <a/><br/><br/>
<a href="javascript:;" ng-click="showConfirm();"> Confirm <a/><br/><br/>

<div>
<input type="text" name="funcName" ng-model="funcName" placeholder="方法名称" /> 
<textarea name="postdata" ng-model="postData" placeholder="请求数据参数" style="width:300px" rows="5"></textarea>
<input type="button" value="POST请求数据" name="btnRequest" ng-click="RequestData();">
<div>

<a href="javascript:;" id="btnUpFile" onclick="return $('#uploadFile').click();" class="btn-green">选择文件</a>
<input type="file" name="uploadFile" id="uploadFile" class="hide" value="浏览" />

<div class="pagination">
  <ul>
    <li class="disabled"><a href="#">«</a></li>
    <li class="active"><a href="#">1</a></li>
    <li ><a href="#">2</a></li>
    <li ><a href="#">3</a></li>
    <li ><a href="#">4</a></li>
    <li ><a href="#">»</a></li>
  </ul>
</div>

<div angular-pagination="" conf="paginationConf"></div>

<div angular-pagination="" conf="paginationConf2"></div>-->

<!-- Modal -->
<!--<div id="testModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">标题</h3>
  </div>
  <div class="modal-body">
    <p>主体内容</p>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
    <button class="btn btn-primary">保存</button>
  </div>
</div>


<div id="testModal2" class="modal modal-lg hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">标题</h3>
  </div>
  <div class="modal-body">
    <p>主体内容</p>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
    <button class="btn btn-primary">保存</button>
  </div>
</div>

<div>
var jsonObj = { id: '01', name: 'Tom' };
JSON.stringify(jsonObj);

var jsonString = "{ id: '01', name: 'Tom' }";
JSON.parse(jsonString);
</div>-->