<style>
  .container {
    max-width: 360px;
    padding: 30px 20px 50px;
    border: 1px solid #b3b3b3;
    border-radius: 4px;
    margin: 150px auto;
    box-shadow: 0 1px 10px #a7a7a7, inset 0 1px 0 #fff;
    background: #fcfcfc;
  }
  .container h1 {
    margin: 0 10px;
    font-size: 40px;
    line-height: 50px;
    text-align: center;
  }
  .container h1 span {
    color: #bbb;
  }
  .container h3 {
    margin: 1.5em 0 0.5em;
  }
  .container p {
    padding: 10px 0 0 40px;
    font-size: 16px;
  }
  .container ul {
    padding: 10px 0 0 60px;
    font-size: 14px;
  }
  .container ul li{
    line-height: 22px;
  }
</style>

<div class="container">
  <h1>未授权访问 <span>:(</span></h1>
  <p>对不起，您没有权限访问该功能!</p>
  <p>可能是由下列原因导致无法访问:</p>
  <ul>
    <li>1.您没有相应权限</li>
    <li>2.您的登录已超时</li>
    <li>您可返回 <a href="./login.html">重新登录</a></li>
  </ul>
</div>
